@page "/"

<h1>HBM Prenscia Calculator Project</h1>

<p>Uses C#, .NET Core 3.1, Blazor Framework</p>
<p>Choose a calculator on the left to get started.<br />The calculators are implementations defined in the project.</p>


